
body{
    background-image: url(Imagenes/fondoo.jpg);
    background-attachment: fixed;
    font-family:'Times New Roman', Times, serif;
    font-size: 17px;
   
    

}
#a{
    font-family: Arial, Helvetica, sans-serif;
}

#titulo{
    
    
    margin-left: 40%;
    
    
    
}
#lado{
    background-color: white;
    padding: 1.5%;
    border: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
    margin-right: 23%;
    margin-top: 1%;
    margin-left: 2%;
   
    
 
    

}
#menu{
   
   background-color: rgb(255, 166, 0);
   float: right;
   border: solid;
   border-color: white;
   margin-right: 2%;
   border-width: 5px;
   border-radius: 15px;
   padding-left: 1%;
   padding-right: 10%;

  

}
#normas{
    
    background-color: white;
    padding: 1.5%;
    border: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
    margin-top: 1%;
    clear:left;
    margin-right: 2%;
    margin-left: 2%;
    

}
#misiones{
    background-color: coral;
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 10%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    border: solid;
    border-color: aliceblue;
    border-width: 10px;
    margin-top: 2%;

}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}




